* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #83c3ff;
}
.search-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.search-input{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 15px;
    border: none;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.search-button{
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color:#3D4490;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.search-input:focus{
    outline: none;
}
.search-container.active .search-input {
	width: 200px;
}
.search-container.active .search-button {
	transform: translateX(80px);
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	-ms-transform: translateX(80px);
	-o-transform: translateX(80px);
}